.container_card_freelancer {
    width: 100%;
    height: 35%;
    background-color: transparent;
    display: flex;
    align-items: center;
    padding-left: 15px;
    gap: 10px;

    .freelancer_image_profile {
        background-color: crimson;
        height: 100%;
        width: 5%;
        border-radius: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            border-radius: 100%;
        }
    }

    .dates_freelancer {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        font-family: $light-font;

        p {
            font-size: 1.3rem;
            color: #000;
            text-align: start;
        }

        span {
            font-size: 0.9rem;
            color: #c4c4c4;
        }
    }

}