* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



:root {
    //
    @import "./vars.scss";



    //pages
    @import "./pages/SpaceBackground/index.scss";
    @import "./pages/SucessRegister/index.scss";
    @import "./pages/SendingEmailRecovery/index.scss";
    @import "./pages/ProviderUserRegister/indes.scss";
    @import "./pages/RecoveryPassword/index.scss";
    @import "./pages/ConfirmEmailWarningPage/index.scss";
    @import "./pages/PasswordWarningPage/index.scss";
    @import "./pages/RecoveringPasswordPage/index.scss";


    //Componentes
    @import "./components/utils/Input/indexInput.scss";
    @import "./components/SpacebackgroundLogin/indexLogin.scss";
    @import "./components/ConcludeRegister/titleMain.scss";
    @import "./components/ConcludeRegister/indexConclude.scss";
    @import "./components/SendingEmailRecovery/indexContainerDiv.scss";
    @import "./components/ProviderUserRegister/indes.scss";
    @import "./components/RecoveryPassWord/index.scss";
    @import "./components/ConfirmEmailWarningPage/index.scss";
    @import "./components/PasswordWarningPage/index.scss";
    @import "./components/RecoveringPassword/index.scss";
    @import "./components/RecoveringPassword/index.scss";
    @import "../pages/RegisterFreelancer/style/resgisterFreelancer.scss";
    @import "./components/utils/Input/radio.scss";
    @import "./components/utils/Button/btnCategories.scss";
    @import "../components/Register/style/alignmentInputs.scss";
    @import "../components/utils/Button/style/btnInput.scss";
    @import "../components/utils/Input/checkbox/style/checkbox.scss";






}