$primary-purple : #B275FF;
$primary-blue : #75A5FF;
$lavander : #D3C5F8;

$gold : #FFBE5C;
$red : #FF6666;
$green : #80EF8B;

$dark-blue : #1A2368;
$dark-purple : #46307B;

$light-blue : #C6D2FF;
$light-purple : #BCA7F4;

$sky-1 : #1A2368;
$sky-2 : #445AAB;
$sky-3 : #935DCA;


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');


$light-font : 'Inter', sans-serif;



