@import "../../../vars.scss";

.containerInput {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 1%;
    
}

.input_icon_login {
    display: flex;
    flex-direction: row;
    margin-top: 2px;
    height: 50px;
    width: 100%;
    position: relative;
    align-items: center;
    

    .Input_Login {
        width: 100%;
        height: 5.625rem;
        border: solid #D3C5F8;
        border-radius: 0.625rem;
        padding-left: 4%;

    }

    .inputRegister {
        width: 100%;
        height: 60%;
        padding-left: 25%;
        border: solid #D3C5F8;
        border-radius: 0.625rem;
    }

  


    .spanIcon,
    #spanIcon,
    .IconNormal {
        display: flex;
        // width: 5%;
        // height: 35%;
        // justify-content: center;
        // align-items: center;
        // position: absolute;
        // left: 10px;
        // top: 6px;

        // left: 2%;
        // top: 33%;
        width: 3%;
        height: 100%;
        justify-content: center;
        align-items: center;
        position: absolute;
        color: $dark-purple;
        
    }

}

.container_label {
    font-size: 1rem;
    font-family: $light-font;
    font-weight: bolder;
    color: $dark-purple;
    margin-bottom: 2%;


}


.InputError {

    width: 100%;
    height: 80%;
    border-radius: 0.625rem;
    padding-left: 60px;
    color: $red;
    border: solid $red;

    


}

.erroIcon {
    color: red;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

.container_input_radio {
    display: flex;
    flex-direction: column;
}

.container_options {
    display: flex;
    font-family: $light-font;
    color: #979797;
    gap: 10px;
}

input[type="radio"] {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    border: 1px double #B275FF;
    margin-inline: 5px;
}

input[type="radio"]:checked {
    background-color: #B275FF;
}