@import "../../../vars.scss";

.containerInput {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;

}

.input_icon_login {
    display: flex;
    flex-direction: row;
    margin-top: 2px;
    height: 50px;
    width: 100%;
    position: relative;
    align-items: center;
    

    .Input_Login {
        width: 100%;
        height: 5.625rem;
        border: solid #D3C5F8;
        border-radius: 0.625rem;
        padding-left: 4%;

    }

    .input_register,
    .input_register_error {
        width: 100%;
        height: 60%;
        padding-left: 5%;
        border: solid #D3C5F8;
        border-radius: 0.625rem;
    }

    .input_register_error {
        border: medium solid #FF0000;

    }

    .spanIcon,
    .IconNormal {
        display: flex;
        width: 4%;
        height: 100%;
        justify-content: center;
        align-items: center;
        position: absolute;
        color: $dark-purple;
        
    }

}

.container_label {
    font-size: 1rem;
    font-family: $light-font;
    font-weight: bolder;
    color: $dark-purple;
}


.InputError {
    width: 100%;
    height: 5.625rem;
    border-radius: 0.625rem;
    padding-left: 4%;
    color: $red;
    border: solid $red;
}

.erroIcon {
    display: flex;
    width: 4%;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: absolute;

    color: red;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

.container_input_radio {
    display: flex;
    flex-direction: column;
}

.container_options {
    display: flex;
    font-family: $light-font;
    color: #979797;
    gap: 10px;
}