input[type="radio"] {
   -webkit-appearance: none;
   width: 15px;
   height: 15px;
   border-radius: 100%;
   border: 1px double #B275FF;
   margin-inline: 5px;
}

input[type="radio"]:checked {
   background-color: #B275FF;
}