@import "../../vars.scss";

#ConfirmEmailPage {
    .logo_Name_pageConfirmEmail {
        display: flex;
        width: 100%;
        height: 10%;
        background-color: $dark-purple;
        align-items: flex-end;
        justify-content: end;
        margin-bottom: 5%;



        .img_logo_mediaSpace_warningPage {
            display: flex;
            width: 100%;
            height: 100%;



            img {
                width: 100%;
                height: 100%;

            }

        }

    }






    .tittle {
        margin-bottom: 5%;

        h1 {
            width: 100%;
            height: 20%;
            font: clamp(2.5rem, 3vw, 1rem) sans-serif;

            font-weight: bold;
            line-height: 29px;
            align-items: center;

        }



    }




    .img_email_span {

        display: flex;
        width: 100%;
        height: 30%;
        justify-content: center;
        align-items: center;


        .img_email {
            width: 100%;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
            }
        }

    }


}