@import "../../../vars.scss";

.InputBtnLogin {

    display: flex;
    width: 18.25rem;
    height: 5rem;
    justify-content: center;
    cursor: pointer;
    border-radius: 3.125rem;
    background-color: $primary-purple;
    color: #fff;
    border: none;


    font-family: $light-font;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;

}

.InputBtnLogin, .input_btn_cadastrar:hover {
    background-color: $dark-purple;
    transition: 385ms;
}

.input_btn_cadastrar {
    display: flex;
    width: 164px;
    height: 40px;
    justify-content: center;
    cursor: pointer;
    border-radius: 3.125rem;
    background-color: $primary-purple;
    color: #fff;
    border: none;
}



.input_btn_remove_photo{
    width: 100px;
    height: 25px;
    background-color: transparent;
    border: transparent;
    color: $dark-purple;
    cursor: pointer;
}