.container_page_create_project {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.page_create_project {
   width: 80vw;
   display: flex;
   overflow-y: auto;

   .container {
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
   }
}

.title_page_project {
   width: 100%;
   font-size: 1.5rem;
   color: $primary-blue;
   font-family: $light-font;
   font-weight: normal;
}

.container_informations {
   width: 50%;
   min-height: 100%;
   display: flex;
   align-items: flex-start;
   //justify-content: space-between;
   gap: 30px;
   flex-direction: column;

}

.container_imagens {
   background-color: brown;
   height: 30%;
}



.subtitulo_projects {
   font-family: $light-font;
   font-size: 1.2rem;
}

.paragraph_projects {
   font-family: $light-font;
   font-weight: lighter;
   font-size: 0.8rem;
   color: #bfbfbf;
}

.projects {
   width: 100%;
   height: 100px;
   overflow-x: auto;
   display: flex;
   justify-content: center;
   flex-direction: column;
   gap: 10px;
}

.inputs_projects {
   height: 150px;
   width: 300px;
   display: flex;
   flex-direction: column;
   background-color: cornflowerblue;
}

.container_categories_projects {
   margin-top: 4%;
   height: 10vh;
   width: 30vw;
}

.teste {
   display: flex;
   width: 100%;

}

.container_subacategories_projects {
   margin-top: 45px;
   width: 30vw;
}

.aligment_button {
   height: 10vh;
   width: 15%;
   display: flex;
   align-items: center;
   justify-content: center;
}

/* Style da div de carregar imagens*/
.container_files {
   width: 100%;
   height: 60%;
   display: flex;
   flex-direction: column;
   gap: 10px;

   .container_aligment_images {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      flex-wrap: wrap;
      gap: 10px;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      border: 1px solid $lavander;

   }

   .aligment_button {
      width: 40%;
      height: 7%;
      justify-self: center;
      align-self: flex-end;
      margin-right: 5%;
   }
}

.container_text {
   padding-left: 20px;
   width: 100%;
   display: flex;
   flex-direction: column;
}

.container_text div {
   display: flex;
   justify-content: space-around;
}

.container_images {
   display: flex;
   width: 90%;
   height: 60%;
   flex-direction: column;
   gap: 5px;
}

.aligment_images {
   width: 100%;
   height: 50%;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   gap: 5px;

   .images {
      width: 48%;
      height: 100%;

      img {
         width: 100%;
         height: 100%;
      }
   }

}



.inputFotoTeste {
   background-color: chocolate;
   height: 50px;
   width: 100px;
}

.inputFotoTeste input {
   opacity: 0;
}

/*INPUT PROJECTS*/

.container_input_project {
   width: 30vw;
   display: flex;
   gap: 5px;
   flex-direction: column;

   span {
      color: #ff6666;
      font-size: 1.5rem;
   }

   div {
      display: flex;
      justify-content: end;
      align-items: flex-end;

      span {
         padding: 5px;
         position: absolute;
         color: #bfbfbf;
         font-size: 1rem;
      }

      input {
         width: 100%;
         height: 40px;
         border-radius: 5px;
         border: 1px solid #bca7f4;
      }
   }
}

.container_description_project {
   width: 30vw;
   height: 15vh;

   span {
      color: #ff6666;
      font-size: 1.5rem;
   }

   div {
      display: flex;
      justify-content: end;
      align-items: flex-end;

      span {
         padding: 5px;
         position: absolute;
         color: #bfbfbf;
         font-size: 1rem;
      }

      textarea {
         resize: none;
         width: 100%;
         height: 170px;
         border-radius: 5px;
         border: 1px solid #bca7f4;
      }
   }
}

.input_value_project:after,
.input_value_project:before {
   position: absolute;
   display: flex;
   width: 25px;
   height: 10px;
   font-size: 10px;
   pointer-events: none;
   background: #000;
}