.testeTeste {
   display: flex;
   flex-direction: column;
   //background-color: steelblue;
   height: 100vh;
   align-items: center;
   justify-content: center;
}

.page_create_project {
   width: 100%;
   height: auto;
   display: flex;
}

.title_page_project {
   color: $primary-blue;
   font-family: $light-font;
   font-weight: normal;
}

.container_informations {
   width: 50%;
   min-height: 100vh;
   display: flex;
   align-items: flex-start;
   justify-content: space-between;
   flex-direction: column;

}

.container_imagens {
   background-color: brown;
   height: 30%;
}

.container_anexos {
   height: 30%;
   background-color: chartreuse;
}

.container_impulsionamento {
   height: 30%;
   background-color: cornflowerblue;
}

.teste {
   background-color: darkgreen;
}

.subtitulo_projects {
   font-family: $light-font;
   font-size: 1rem;
}

.paragraph_projects {
   font-family: $light-font;
   font-weight: lighter;
   font-size: 0.8rem;
   color: #BFBFBF;
}

.projects {
   width: 90%;
   height: 100px;
   overflow-x: auto;
   display: flex;
   justify-content: center;
   flex-direction: column;
   gap: 10px;
}

.inputs_projects {
   height: 150px;
   width: 300px;
   display: flex;
   flex-direction: column;
   background-color: cornflowerblue;
}

.container_projects {
   height: 20%;
}

.aligment_button {
   height: 10vh;
   background-color: crimson;
   display: flex;
   align-items: center;
   justify-content: center;
}

/* Style da div de carregar imagens*/
.container_files {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 10px;
   width: 80%;
   height: 25%;
   border-radius: 10px;
   border: 1px solid $lavander;
}

.container_text {
   padding-left: 20px;
   width: 100%;
   display: flex;
   flex-direction: column;
}

.container_text div {
   display: flex;
   justify-content: space-around;
}

.container_images {
   display: flex;
   width: 50%;
   height: 50%;
   flex-direction: column;
   gap: 5px;
}

.aligment_images {
   width: 100%;
   height: 50%;
   display: flex;
   gap: 5px;
}

.images {
   background-color: crimson;
   width: 50%;
   height: 100%;
}

.inputFotoTeste {
   background-color: chocolate;
   height: 50px;
   width: 100px;
}

.inputFotoTeste input {
   opacity: 0;
}

.description_project {
   resize: none;
   width: 80%;
   height: 170px;
}