@import "../../../../styles/vars.scss";
#IconBar{
    display: flex;
    height: clamp(3rem,4vw, 2rem) ;
    margin-bottom: 1%;
    justify-content: start;
    align-items: center;

    
    div{
        display: flex;
        height: 100%;
        align-items: center;
        gap: 8%;
       

        
    span{
        display: flex;
        width: auto;
        justify-content: start;
        align-items: center;
        height: 100%;
        flex-direction: row;
    
               
        svg{
            width: 85%;
            height: 85%;
            cursor: pointer;
        }
    }

     h3{
        display: flex;
        font-family: $light-font ;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 100%;
        font-size: clamp(1rem, 2vw, 1.2rem);
        cursor: pointer;
    }
        
        
    }
     
 


   

}