.projects-page-container {
    width: 98%;
    height: 100%;
    overflow: scroll;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 2vh;
}

::-webkit-scrollbar {
    display: none;
}

.project-page-create-container {
    width: 100%;
    min-height: 20vw;

    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

    padding-left: 3vw;

    border-radius: 1vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/mediaspace-35054.appspot.com/o/system%2FcreateProject.png?alt=media&token=d9d49673-b5c1-4360-bc20-9e53eb385aae");
    background-position: right;

    .project-page-crete-options {
        width: 20%;
        height: 100%;

        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;

        gap: 5%;

        h1 {
            color: #fff;
            font-size: clamp(12px, 4vw, 32px);
        }
        p {
            color: #fff;
            font-size: clamp(4px, 4vw, 16px);
        }

        button {
            cursor: pointer;
            width: 70%;
            height: 10%;

            background-color: #edb0f725;
            border: none;
            border-radius: 2vw;

            transition: 1s;

            &:hover {
                background-color: #edb0f770;
            }

            color: #fff;
            font-size: clamp(4px, 4vw, 16px);
        }
    }
}

.project-page-filter-container {
    width: 90vw;
    height: auto;
    padding: 0 2%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    display: flex;
    flex-wrap: wrap;

    .project-page-filter-icon {
        width: 3vw;
        height: 80%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        gap: 20%;

        div {
            height: 15%;
            background-color: #bbbbbb;
        }

        div:nth-child(1) {
            width: 100%;
        }
        div:nth-child(2) {
            width: 70%;
        }
        div:nth-child(3) {
            width: 40%;
        }
    }
    .project-page-filter-item {
    }
}

.project-page-projects-container {
    width: 100%;
    height: auto;

    h2 {
        padding: 0 2%;
        font-weight: 200;
        margin-bottom: 2vw;
    }
}

.project-page-projects-card-container {
    width: 100%;
    height: auto;

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 2%;
    flex-wrap: wrap;
    gap: 1vw;
    margin-bottom: 2vw;

    .project-list-card {
        width: 21vw;
        height: 25vw;
        border: 1px solid $light-blue;
        border-radius: 20px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        cursor: pointer;
        transition: 0.5s;

        &:hover {
            border: 1px solid $primary-blue;
            box-shadow: 2px 2px 10px $primary-blue;
        }
    }
    .project-list-card-image-container {
        height: 35%;
        width: 100%;
        background-color: #dfdfdf;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .project-card-user {
        width: 100%;
        height: 15%;
        display: flex;
        padding: 0 1%;

        .project-card-user-image {
            width: 20%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                width: 90%;
                height: 90%;
                border-radius: 20vw;
            }
        }
        .project-card-user-details {
            width: 80%;
            height: 100%;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            padding-left: 5%;
            flex-direction: column;

            p:nth-child(1) {
                color: #000;
                font-size: clamp(4px, 4vw, 16px);
            }
            p:nth-child(2) {
                color: #bbb;
                font-size: clamp(2px, 4vw, 12px);
            }
        }
    }

    .project-card-details-container {
        width: 90%;
        height: 35%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        overflow: hidden;

        .project-card-details {
            p:nth-child(1) {
                color: #000;
                font-size: clamp(6px, 4vw, 18px);
                font-weight: 400;
                word-wrap: break-word;
                word-break: break-word;
            }
            p:nth-child(2) {
                color: #444;
                font-size: clamp(4px, 4vw, 12px);
                word-wrap: break-word;
                word-break: break-word;
            }
        }

        .project-card-details-value-container {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 4%;

            p:nth-child(1) {
                color: #bbb;
                font-size: clamp(6px, 4vw, 18px);
            }
            p:nth-child(2) {
                color: $green;
                font-size: clamp(6px, 4vw, 20px);
            }
        }
    }

    .project-card-categories {
        border-top: 2px solid #dfdfdf;
        width: 90%;
        height: 15%;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        p {
            margin-left: 2%;
            vertical-align: center;
            color: #444;
            font-size: clamp(6px, 4vw, 12px);
        }
    }
}
