@import "../../../styles/vars.scss";

#ContentPage {
    width: 100vw;
    height: 98vh;
    display: flex;
    flex-direction: row;
    gap: 4vw;
    overflow: hidden;
    justify-content: center;
    align-items: flex-start;

    .Container {
        width: 100%;
        height: 100%;
    }

    .section_main_Project {
        height: 95%;
        width: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 20px;

        .Tittles_Description {
            width: 95%;
            height: 10%;
            padding: 3px;
            display: flex;
            align-items: flex-start;
            justify-content: start;
            flex-direction: column;
            background-color: aqua;

            .Big_Tittle {
                width: 100%;
                height: 30%;
                background-color: antiquewhite;
                h1 {
                }
            }

            .small_Tittle {
                width: 100%;
                height: 70%;
                background-color: rgb(47, 29, 4);
                h3 {
                }
            }
        }

        .SearchBar_candidates {
            display: flex;
            width: 90%;
            height: 3%;
            background-color: aqua;
            div {
                width: 100%;
                height: 100%;

                input {
                    width: 100%;
                    height: 90%;
                }
            }
        }

        .candidates {
            display: flex;
            width: 95%;
            height: 100%;
            background-color: bisque;
            flex-direction: column;

            div {
                width: 100%;
                height: 100px;
                background-color: aliceblue;
            }

            div:nth-child(odd) {
                background-color: $light-purple;
            }
        }
    }
}
