.section_main_perfil{
    display: flex;
    width: 95%;
    height: 92%;
    gap: 2%;
    padding: 10px;

.Div_main_Perfil{
    display: flex;
    width: 80%;
    height: 100%;
    border-radius: 30px;
    border: 1px solid rgb(121, 119, 119);
    flex-direction: column;
    background-color: #fff;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    gap: 20px;


    .name_Poject{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: start;
        align-items: center;
        margin-top: -30px;

        h2{
            font: 1em sans-serif;
            font-weight: 600;
            text-align: justify;
            color: #000;
           
        }
    }


    .Main_Card{
        display: flex;
        width: 100%;
        height: inherit;
        overflow: scroll;
        gap: 5px;
        
    }

    .Main_Card_freelancer{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: inherit;
        overflow: scroll;
        gap: 5px;
    }
}
}