@import "../../../styles/vars.scss";

#ContentPage {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    gap: 4%;
    justify-content: center;
    align-items: flex-start;

    .Container {
        width: 100%;
        height: 100%;
    }

    .section_main_Project {
        height: 95%;
        width: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 20px;

        .Tittles_Description {
            width: 95%;
            height: 10%;
            padding: 3px;
            display: flex;
            align-items: flex-start;
            justify-content: start;
            flex-direction: column;

            .Big_Tittle {
                width: 100%;
                height: 50%;

                h1 {
                    font-size: clamp(1.5rem, 4vw, 1rem);
                    font-family: $light-font;
                    color: $primary-blue;
                }
            }

            .small_Tittle {
                width: 100%;
                height: 70%;

                h3 {
                    font-size: clamp(0.5rem, 3vw, 0.8rem);
                    font-family: $light-font;
                    opacity: 80%;
                    font-weight: 200;
                }
            }
        }

        .SearchBar_candidates {
            display: flex;
            width: 100%;
            height: 7%;
            justify-content: center;
            align-items: center;
            padding-right: 100px;

            div {
                width: 100%;
                height: 100%;

                input {
                    width: 100%;
                    height: 90%;
                }
            }
        }
    }

    .candidates {
        width: 95%;
        height: auto;

        .Container_selection:nth-child(odd) {
            background-color: $light-blue;
        }
    }

    .select_candidates {
        width: 95%;
        height: auto;
    }

    .send_freelance_selecet {
        display: flex;
        justify-content: end;
        align-items: flex-end;
        width: 80%;
        height: 40px;
        margin-left: 10%;
        margin-bottom: 10%;

        .btn_selecet_freelancer {
            display: flex;
            width: 15%;
            height: 100%;
            justify-content: center;
            align-items: center;
            border: none;
            border-radius: 5px;
            color: #fff;
            background-color: $primary-purple;
            font: 1em sans-serif;
            cursor: pointer;
        }

        .btn_selecet_freelancer:hover {
            cursor: pointer;
            background-color: $dark-purple;
            font-size: 1.1rem;
            transition: 0.5s;
        }
    }
}
