@import "../../../styles/vars.scss";

#ContentPage {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    gap: 90px;
    justify-content: center;
    align-items: flex-start;
    margin-top: 5px;


    .Container {
        width: 100%;
        height: 100%;
    }

    .section_main_Project {
        height: 95%;
        width: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 20px;

        .Tittles_Description {
            width: 95%;
            height: 10%;
            padding: 3px;
            display: flex;
            align-items: flex-start;
            justify-content: start;
            flex-direction: column;



            .Big_Tittle {
                width: 100%;
                height: 30%;
                margin-bottom: 10px;


                h1 {

                    font-size: clamp(2rem, 3vw, 1.5rem ) ;
                    font-family: $light-font;
                    letter-spacing: 2px;
                    color: $primary-blue;
                }
            }

            .small_Tittle {
                width: 100%;
                height: 70%;


                h3 {
                    font-size: claamp(0.8rem,2vw,0.7rem);
                    font-family: $light-font;
                    letter-spacing: 2px;
                    font-weight: 200;
                    opacity: 80%;
                }
            }
        }


        .SearchBar_candidates {
            display: flex;
            width: 95%;
            height: 5%;
            justify-content: center;
            align-items: center;
            padding-right: 5%;
            

             .container_bar_search{
                display: flex;
                width: 100%;
                height: 100%;
                justify-content: center;
                align-items: center;
               
                padding-right: 100px;

                input{
                    display: flex;
                    width: 100%;
                    height: 100%;
                    
                }
             }
        }



    }

    .candidates {
        display: flex;
        width: 95%;
        height: 100%;
        flex-direction: column;
    }

    .candidates .Container_selection:nth-child(odd) {
        background-color: $light-blue;
    }

    .select_candidates{
        width: 95%;
        height: auto;

        
    }

}