//@import "../../vars.scss";

.InputBtnLogin {

    display: flex;
    width: 18.25rem;
    height: 5rem;
    justify-content: center;
    cursor: pointer;
    border-radius: 3.125rem;
    background-color: $primary-purple;
    color: #fff;
    border: none;


    font-family: $light-font;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
 
  

}
.input_btn_cadastrar {
    display: flex;
    width: 164px;
    height: 40px;
    justify-content: center;
    cursor: pointer;
    border-radius: 3.125rem;
    background-color: $primary-purple;
    color: #fff;
    border: none;
}



.input_btn_remove_photo{
    width: 100px;
    height: 25px;
    background-color: transparent;
    border: transparent;
    color: $dark-purple;
    cursor: pointer;
}



.Container_btnIcon{
    display: flex;
     width: 5%;
     height: 100%;
     justify-content: center;
     align-items: center;
     position: relative;
     background-color: transparent;
     
     

     span{
        width: 100%;
        display: flex;
        border: none;
        position: absolute;
        justify-content: center;
        align-items: center;
        
     }

     input{
        width: 100%;
        height: 100%;
        border: none;
        cursor: pointer;
        transition: 40s;
        background-color: transparent;
        
     }
    
}