@import "../../vars.scss";

.InputBtnLogin {

    display: flex;
    width: 18.25rem;
    height: 5rem;
    justify-content: center;
    cursor: pointer;
    border-radius: 3.125rem;
    background-color: $primary-purple;
    color: #fff;
   



    font-family: $light-font;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
 

}

.InputBtnLogin:hover{
    background-color: $dark-purple;
    transition: 385ms;
}