@import "../../vars.scss";

.input_icon_login {
    display: flex;
    flex-direction: row;
    margin-top: 2px;
    height: 50px;
    width: 100%;
    position: relative;



    .Input_Login {
        width: 100%;
        height: 5.625rem;
        border: solid #D3C5F8;
        border-radius: 0.625rem;
        padding-left: 60px;

        

    }



    .IconLogin {
        width: 50px;
        height: 30px;
        color: $dark-purple;



    }



}


.InputError {

    width: 100%;
    height: 5.625rem;
    border-radius: 0.625rem;
    padding-left: 60px;
    border: solid $red;


}

.erroIcon {

    color: red;

}