.containerInput {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.input_icon_login {
    //display: flex;
    //flex-direction: row;
    //margin-top: 2px;
    //height: 50px;
    width: 100%;
    position: relative;
    margin-bottom: 1rem;
    //background-color: black;

    .Input_Login {
        width: 100%;
        height: 5.625rem;
        border: solid #D3C5F8;
        border-radius: 0.625rem;
        padding-left: 60px;
    }

    .inputRegister {
        width: 100%;
        height: 30px;
        border: solid #D3C5F8;
        border-radius: 0.625rem;
    }


    .spanIcon {
        display: flex;
        //width: 10%;
        height: 100%;
        justify-content: center;
        align-items: center;
        position: absolute;
        //left: -5px;
    }

    .IconLogin {
        //width: 50px;
        width: 17px;
        height: 17px;
        //height: 30px;
        color: $dark-purple;
    }
}

.containerLabel {
    font-size: 1rem;
    font-family: $light-font;
    font-weight: bolder;
    color: $dark-purple;
}