.backSpace {
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;


    .MediaSpaceLogo {
        width: 100%;
        height: 60px;
        border: none;
        padding: 10px;

        img {
            width: 10%;
            height: auto;
        }
          
       
    }

    .Space {
        display: flex;
        width: 100%;
        height: 30%;
        margin-top: -2%;


        img {
            width: 100%;
            height: 100%;
            border: none;
        }



    }







}