.All_card_perfil_project{
    display: flex;
    width: 17rem;
    height: 20rem;
    background-color: aqua;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    flex-direction: column;
}