.button_category,
.category_selected {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: $light-blue;
    margin-bottom: 20px;
    width: auto;
    height: 30px;
    border-radius: 30px;
    border-style: none;
    cursor: pointer;
    font-family: $light-font;
    margin-left: 10px;

    p {
        font-size: 12px;
    }
}

.category_selected {
    background-color: $primary-blue;
    color: #ffffff;
}

.icone {
    height: 10px;
    width: 10px;
    margin-left: 5px;
}
