.PasswordWarningPage{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;

    .tittle_updated {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h3 {
            width: 100%;
            text-align: center;
            padding: 0;
            vertical-align: center;
        }
    }

    
}