.page_register_freelancer {
   height: 100%;
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
}

.title_page_register_freelancer {
   text-align: center;
   font-size: 0.9rem;
   font-family: $light-font;
   font-weight: bold;
   color: $primary-purple;
}

.subtitulo {
   font-family: $light-font;
   color: #979797;
   font-size: 1rem;
}

.container_categories_subcategories {
   display: flex;
   height: 80%;
   width: 100%;
   align-items: center;
   justify-content: space-between;
}

.container_categories {
   width: 45%;
   height: 100%;
}

.categories,
.sub_categories {
   height: 70%;
   overflow-y: auto;
   //border: solid #D3C5F8;
   box-shadow: inset 0px 4px 15px #DEDEDE;
   border-radius: 0.625rem;
   display: flex;
   flex-wrap: wrap;
   padding: 10px;
}

.container_subcategories {
   width: 45%;
   height: 100%;
}