#RecoveryPassword {



    .ContainerImg_recoveryPassword {
        width: 50%;
        height: 100%;

        .Img_RecoveryPassword {
            width: 100%;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }


    .ContainerInputs_recoveryPassword {
        width: 50%;
        height: 100%;
        justify-content: start;
        align-items: flex-start;
        flex-direction: column;



        .newHere_recoveryPassword {
            display: flex;
            width: 100%;
            height: 5%;
            justify-content: end;
            margin-bottom: 8%;

            h3 {
                display: flex;
                font-family: $light-font;
                font-style: normal;
                font-weight: 100;
                letter-spacing: 1px;
                font-size: clamp(1.2rem, 3vh, 1rem);


            }



        }

        .newHere_recoveryPassword h3:last-child {
            color: $dark-purple;
        }







        .Tittle_input_btn_passWord {
            width: 100%;
            height: 70%;
            justify-content: start;
            flex-direction: column;


            #div_tittle_forgetPassword {
                display: flex;
                width: 100%;
                height: 10%;
                justify-content: start;
                align-items: center;
                margin-bottom: 1%;
            }

            .tittle_forgetPassword {
                display: flex;
                width: 100%;
                height: 100%;
                font-size: clamp(2.5rem, 2vh, 3rem);
                font-family: $light-font;
                color: $primary-purple;
                word-wrap: break-word;
                white-space: inherit;
                font-weight: bold;
                font-size: 24px;
                line-height: 29px;


            }


            .subtittle_span {
                display: flex;
                width: 100%;
                height: 15%;
                margin-bottom: 3%;

            }


            .subTittle_forgetPassword {
                display: flex;
                width: 70%;
                height: 100%;
                font-size: clamp(0.2rem, 3vh, 1rem);
                font-family: $light-font;
                font-weight: bold;
                color: $dark-purple;
                word-wrap: break-word;
                white-space: inherit;

            }

            .btn_span {
                width: 100%;
                height: 50%;



                input {

                    display: flex;
                    flex-direction: row;
                    margin-top: 2px;
                    height: 50px;
                    width: 100%;
                    padding-left: 10%;
                    border-radius: 0.625rem;
                    border: solid 1px $primary-purple;




                }
            }

        }



        .btn_Send {
            display: flex;
            width: 100%;
            height: 20%;
            justify-content: center;
            align-items: flex-start;
            padding-top: 10px;

            .InputBtnPassWord {
                display: flex;
                width: 15rem;
                height: 3rem;
                justify-content: center;
                cursor: pointer;
                border-radius: 3.125rem;
                background-color: $primary-purple;
                color: #fff;
                border: none;

                font-family: $light-font;
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 29px;
            }
        }


    }
}