.delivery-modal-background {
    background-color: #0006;
    width: 100vw;
    position: absolute;
    z-index: 1;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.delivery-modal-container {
    background-color: #fff;
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    padding: 10px 0;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 20px;
}

.delivery-modal-header {
    height: 10%;
    width: 98%;
    display: flex;
    align-items: center;

    h2 {
        width: 95%;
        color: #75a5ff;
        font-weight: 800;
        font-size: 1.5rem;
    }
    p {
        width: 5%;
        color: #f66;
        font-size: 1.5rem;
        cursor: pointer;
        font-weight: 400;
        &:hover {
            font-weight: 800;
        }
    }
}

.delivery-modal-form {
    height: 80%;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.delivery-modal-form-section {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10%;
    flex-direction: column;
}

.delivery-modal-footer-container {
    height: 10%;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    button {
        width: auto;
        height: 95%;
        background-color: #b275ff;
        cursor: pointer;
        color: #fff;
        padding: 0 2%;
        font-weight: 700;
        transition: 0.5s;
        border: 0;
        border-radius: 20px;

        &:hover {
            height: 100%;
            padding: 0 3%;

            background-color: #794cb0;
        }
    }
}

.deliveries-modal-requirements-deliveries {
}
