#LoginPage {
    .Container_navegation {
        display: flex;
        width: 3%;
        height: 100%;
        flex-direction: column;
        align-items: center;


        .logo_img {
            visibility: hidden;
            display: none;
        }

        .visible_close_img {
            visibility: hidden;
        }
        .photo_User_container{
            width: 100%;
            height: 10%;
            background-color: rgb(122, 191, 19);
            margin-bottom: 150px;
           }

        .Menu_bar_icon {
            display: flex;
            width: 100%;
            height: 5%;
            background-attachment: fixed;
            justify-content: center;
            align-content: center;
            margin-bottom: 30%;
            background-color: greenyellow;


   

            .Button_menu {
                display: flex;
                width: 100%;
                height: 100%;
                border: none;
                justify-content: center;
                align-items: center;
                background-color: transparent;
          
                span {
                    width:50%;

                    svg {
                        width: 100%;
                        height: 100%;
                        color: #D9D9D9;
                        cursor: pointer;
                    }
                }
            }
        }

    }


    .Icon_bar_nav{
        width: 100%;
        min-height: auto;
        height: inherit;
        background-color: aqua;
    }


      
}


//open
.Container_navegation_Open {
    display: flex;
    width: 10%;
    height: 100%;
    background-color: rgba(4, 62, 62, 0.434);
    flex-direction: column;
    align-items: center;




    .visible_open_img {
        display: block;

    }
    .photo_User_container{
        width: 100%;
        height: 10%;
        background-color: aliceblue;
       }

    .Menu_bar_icon {
        display: flex;
        width: 100%;
        height: 5%;
        background-attachment: fixed;
        justify-content: flex-end;
        align-content: space-between;
        padding-right: 3%;
        gap: 5%;
        margin-bottom: 10%;



        .logo_img {
            visibility: visible;
            display: block;
            width: 80%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 100%;
                height: 100%;
                
            }
        }

        .Button_menu{
            display: flex;
            width: 20%;
            height: 100%;
            border: none;
            justify-content: center;
            align-items: center;
            background-color: transparent;
            padding-left: 4%;
       
            .Span_icon{
            display: flex;
            width: 100%;
            height: 100%;
            justify-content: center;
           

            svg{
                width: 100%;
                height: 100%;
                color: #D9D9D9;
                cursor: pointer;

            }
          }

        }

    }




 
}