.PasswordWarningPage{


  .Container_logo{
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;


    .div_img_logo{
        display: flex;
        width: 100%;
        height: 100%;

        img{
            display: flex;
            width: 80%;
            height: 80%;
        }
    }

  }


  .tittle_updated{
    width: 50%;
    height: 100%;
    font: clamp(2rem, 2vw, 1rem) sans-serif;
    font-weight: bold;
    margin-bottom: 5%;
    color: $dark-purple;
    flex-direction: column;
    gap: 20%;
  }
}