.boost_button {
    width: 30%;
    height: 70%;
    border: 2px solid rgba(191, 191, 191, 0.5);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
 
    label {
       font-family: $light-font;
       font-size: 1rem;
    }
 
    p {
       font-family: $light-font;
       font-size: 1.5rem;
    }
 
    div {
       height: 50%;
       width: 50%;
       border-radius: 100%;
       background-color: purple;
       display: flex;
       justify-content: center;
    }
 
 
 }