.container_inputs {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.teste {
    background-color: aqua;
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}