.page_register {
    //height: 80%;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: baseline;
}

.title_page {
    width: 100%;
    font-size: 1.1rem;
    font-family: $light-font;
    font-weight: bold;
    color: $primary-purple;
}

.container_inputs {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;

}

.alignment-inputs-by-divs {
    width: 33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.profile-picture {
    width: 70%;
    height: 190px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
}

.profile-picture-container{
    height: 90%;
    border-color: $light-purple;
    border-radius: 10px;
    border-style: dashed
}