.Nav_bar_Client{
    display: flex;
    width: 20%;
    height: 90%;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 0px 0px 40px 40px;
    box-shadow: 1px 1px 10px  rgba(0, 0, 0, 0.911);
        
        
        span{
            display: flex;
            height: 100%;
            justify-content: center;
            align-items: center;
            margin-left: 30px;
            
            img{
                font: 5rem;
                cursor: pointer;
            }
            
            svg{
                font-size: 2rem;
                cursor: pointer;
            }

            svg:hover{
             font-size: 1.9rem;
             transition: 0.40s;
            }
            
        }
    
}