.All_div {
    display: flex;
    width: 100%;
    height: 12%;
    max-height: 55px;
    justify-content: center;
    gap: 10px;

    .side_nav {
        display: flex;
        width: 300px;
        height: 90%;
        border-radius: 0px 0px 40px 40px;
        justify-content: center;
        align-items: center;
        gap: 10%;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);

        span {
            display: flex;
            height: 100%;
            justify-content: center;
            align-items: center;

            img {
                font: 1.6rem;
                width: 1.6rem;
                cursor: pointer;
            }

            svg {
                font-size: 1.6rem;
                cursor: pointer;
            }
        }
    }
}
