.projects-page-container {
    width: 98%;
    height: 100%;
    overflow: scroll;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 2vh;
}

::-webkit-scrollbar {
    display: none;
}

.project-page-create-container {
    width: 100%;
    min-height: 20vw;

    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

    padding-left: 3vw;

    border-radius: 1vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/mediaspace-35054.appspot.com/o/system%2FcreateProject.png?alt=media&token=d9d49673-b5c1-4360-bc20-9e53eb385aae");
    background-position: right;

    .project-page-crete-options {
        width: 20%;
        height: 100%;

        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;

        gap: 5%;

        h1 {
            color: #fff;
            font-size: clamp(12px, 4vw, 32px);
        }
        p {
            color: #fff;
            font-size: clamp(4px, 4vw, 16px);
        }

        button {
            cursor: pointer;
            width: 70%;
            height: 10%;

            background-color: #edb0f725;
            border: none;
            border-radius: 2vw;

            transition: 1s;

            &:hover {
                background-color: #edb0f770;
            }

            color: #fff;
            font-size: clamp(4px, 4vw, 16px);
        }
    }
}


.project-page-projects-container {
    width: 100%;
    height: auto;
    h2 {
        font-weight: 200;
        margin-bottom: 2vw;
    }
}

.project-page-projects-card-container {
    width: 100%;
    height: auto;

    display: flex;
// lorem ipsum
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 1vw;
    margin-bottom: 2vw; 

    .project-card {
        width: 29vw;
        height: 25vw;
        border: 1px solid $light-blue;
        border-radius: 20px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        cursor: pointer;
        transition: 0.5s;

        &:hover {
            border: 1px solid $primary-blue;
            box-shadow: 2px 2px 10px $primary-blue;
        }
    }

    .project-card-image-container {
        height: 35%;
        width: 100%;
        display: flex;
        flex-direction: row;
        img {
            width: 86%;
            height: 100%;
        }
    }

    .project-card-user {
        width: 100%;
        height: 15%;
        display: flex;
        padding: 0 1%;

        .project-card-user-image {
            width: 20%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                width: 90%;
                height: 90%;
                border-radius: 20vw;
            }
        }
        .project-card-user-details {
            width: 80%;
            height: 100%;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            padding-left: 5%;
            flex-direction: column;

            p:nth-child(1) {
                color: #000;
                font-size: clamp(4px, 4vw, 16px);
            }
            p:nth-child(2) {
                color: #bbb;
                font-size: clamp(2px, 4vw, 12px);
            }
        }
    }

    .project-card-details-container {
        width: 90%;
        height: 35%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        overflow: hidden;

        .project-card-details {
            p:nth-child(1) {
                color: #000;
                font-size: clamp(6px, 4vw, 18px);
                font-weight: 400;
                word-wrap: break-word;
                word-break: break-word;
            }
            p:nth-child(2) {
                color: #444;
                font-size: clamp(4px, 4vw, 12px);
                word-wrap: break-word;
                word-break: break-word;
            }
        }

    }

    .details-card {
        width: 29vw;
        height: 19vw;
        border: 1px solid $light-blue;
        border-radius: 20px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    }

    .card-details-container {
        width: 90%;
        height: 35%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        overflow: hidden;

        .card-details {
            h3{
                margin-bottom: 10%;
            }
            p:nth-child(1) {
                color: #000;
                font-size: clamp(6px, 4vw, 18px);
                font-weight: 400;
                word-wrap: break-word;
                word-break: break-word;
            }
            p:nth-child(2) {
                color: #444;
                font-size: clamp(4px, 4vw, 12px);
                word-wrap: break-word;
                word-break: break-word;
            }
        }

    } 

    .project-details-cards{
        display: flex;
        flex-direction: column;
    }

    .project-card-freelancer {
        width: 100%;
        height: 15%;
        display: flex;
        padding: 0 1%;

        .project-card-freelancer-image {
            width: 20%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                width: 90%;
                height: 90%;
                border-radius: 20vw;
            }
        }
        .project-card-freelancer-details {
            width: 80%;
            height: 100%;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            padding-left: 5%;
            flex-direction: column;

            p:nth-child(1) {
                color: #000;
                font-size: clamp(4px, 4vw, 16px);
            }
            p:nth-child(2) {
                color: #bbb;
                font-size: clamp(2px, 4vw, 12px);
            }
        }
    }

    .view-requirements {
        width: 29vw;
        height: 4vw;
        border: 1px solid $light-blue;
        border-radius: 20px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 2vw;
        cursor: pointer;
        transition: 0.5s;

        &:hover {
            border: 1px solid $primary-blue;
            box-shadow: 2px 2px 10px $primary-blue;
        }
        
    }



.timeline-container{
    width: 100%;
    margin: 100px auto;
  }

  .validation-container{
      margin-bottom: 35px;
  }
  
  .timeline{
    max-width: 100%;
    counter-reset: number 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: auto;
  }
  
  .timeline li{
    list-style: none;
    float: left;
    width: 33%;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Dosis', sans-serif;
  }
  
  ul:nth-child(1){
    color: #B275FF;
  }
  
  .timeline li:before{
    counter-increment: number;
    content: counter(number);
    width: 50px;
    height: 50px;
    border: 3px solid #75A5FF;
    border-radius: 50%;
    display: block;
    text-align: center;
    line-height: 50px;
    margin: 0 auto 10px auto;
    background: #Ffff;
    color: #fff;
    transition: all ease-in-out .3s;
  }
  
  .timeline li:after{
    content:"";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: grey;
    top: 25px;
    left: -50%;
    z-index: -999;
    transition: all ease-in-out .3s;
  }
  
  .timeline li:first-child:after{
    content: none;
  }
  .timeline li.active{
    color: #B3B3B3;
  }
  .timeline li.active:before{
    content: " ✓";
    background: #75A5FF;
    display: flex;
    font-weight: bolder;
    font-size: xx-large;
    align-content: flex-start;
    color: #fff;
  }
  
  .timeline li.active + li:after{
    content: "";
    height: 5px;
//        background: #B275FF;
    background: linear-gradient(45deg, #B275FF, #75A5FF);
  }

  .delivery-card-details {
    counter-reset: number 0;
    
    .requirement-box {
        display: flex;
        flex-direction: row;
    }

    h2 {
        color: #75A5FF;
    }
    h2.requirement-title {
        margin-left: 7px;
        color:#75A5FF
    }
    h2.requirement-counter::after{
        counter-increment: number;
        content: counter(number);
        color: #75A5FF;
    }

  }



