.projects-page-container {
    width: 98%;
    height: 100%;
    overflow: scroll;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 2vh;
    font-family: $light-font;

    h1 {
        margin-top: 5vh;
        font-size: xx-large;
        margin-bottom: 2vh;
        color: #75a5ff;
    }

    .project-card-user-execution {
        width: 100%;
        height: 17%;
        display: flex;
        align-items: center;
        gap: 15px;

        div {
            width: 7%;
            height: 90%;

            img {
                width: 100%;
                height: 100%;
                border-radius: 100%;
            }
        }

        .project-card-user-details {
            display: flex;
            justify-content: center;
            flex-direction: column;

            p:nth-child(1) {
                color: #000;
                font-size: clamp(4px, 4vw, 16px);
            }

            p:nth-child(2) {
                color: #bbb;
                font-size: clamp(2px, 4vw, 12px);
            }
        }
    }

    .project-card-image-container {
        height: 60%;
        width: 100%;
        display: flex;
        gap: 20px;

        img {
            width: 50%;
            height: 100%;
            border-radius: 5%;
        }

        .project-card-details-container {
            width: 40%;
            height: 100%;

            p:nth-child(1) {
                color: #000;
                font-size: 1.5rem;
                font-weight: bold;
            }

            p:nth-child(2) {
                color: #b3b3b3;
                font-size: 1rem;
            }
        }
    }
}

::-webkit-scrollbar {
    display: none;
}

.project-page-projects-container {
    width: 100%;
    height: auto;

    h2 {
        font-weight: 200;
        margin-bottom: 2vw;
    }
}

.page-projects-in-execution-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 1vw;
    margin-bottom: 2vw;

    .container-project-in-execution {
        width: 100%;
        height: 55vh;
        display: flex;
        gap: 35px;

        .project-card {
            width: 60%;
            height: 100%;
            border: 1px solid $light-blue;
            border-radius: 20px;
            padding-left: 50px;
            overflow: hidden;
            display: flex;
            justify-content: space-evenly;
            flex-direction: column;
            cursor: pointer;
            transition: 0.5s;

            &:hover {
                border: 1px solid $primary-blue;
                box-shadow: 2px 2px 10px $primary-blue;
            }
        }
    }
}

.details-card {
    width: 29vw;
    height: 19vw;
    border: 1px solid $light-blue;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;

    .card-details {
        width: 75%;
        height: 70%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;

        h3 {
            font-size: 2rem;
        }

        p {
            color: #444;
            font-size: 1.5rem;
            margin-bottom: 2vh;
            word-wrap: break-word;
            word-break: break-word;
            font-weight: bold;

            span {
                font-weight: normal;
            }
        }
    }
}

.project-details-cards {
    display: flex;
    flex-direction: column;
}



&.project-card-freelancer-image {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;


}

.project-card-freelancer-details {
    width: 100%;
    height: 15%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    p {
        font-size: 1.3rem;
    }

    .project-in-execution-freelancer-container {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 45%;
        width: 100%;
        flex-direction: row;
        gap: 10px;

        .details {
            p:nth-child(1) {
                color: #000;
                font-size: clamp(4px, 4vw, 16px);
            }

            p:nth-child(2) {
                color: #bbb;
                font-size: clamp(2px, 4vw, 12px);
            }
        }

        img {

            height: 100%;
            border-radius: 100%;
        }
    }
}




.view-requirements {
    width: 29vw;
    height: 4vw;
    border: 1px solid $light-blue;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 2vw;
    cursor: pointer;
    transition: 0.5s;

    p {
        font-size: x-large;
    }

    &:hover {
        border: 1px solid $primary-blue;
        box-shadow: 2px 2px 10px $primary-blue;
    }
}

.timeline-container {
    width: 100%;
    margin: 5px auto;

    h2 {
        font-size: x-large;
    }
}


.validation-container {

    h1 {
        margin-top: 0px;
        color: #000;
        margin-bottom: 0px;
    }

    font-family: $light-font;
    width: 100%;

    p {
        font-size: 1rem;
    }

    h3 {
        font-size: xx-large;
    }
}

.timeline {
    max-width: 60%;
    counter-reset: number 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: auto;
}

.timeline li {
    list-style: none;
    float: left;
    width: 33%;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    font-family: "Dosis", sans-serif;
}

ul:nth-child(1) {
    color: #b275ff;
}

.timeline li:before {
    counter-increment: number;
    content: counter(number);
    width: 50px;
    height: 50px;
    border: 3px solid #75a5ff;
    border-radius: 50%;
    display: block;
    text-align: center;
    line-height: 50px;
    margin: 0 auto 10px auto;
    background: #ffff;
    color: #fff;
    transition: all ease-in-out 0.3s;
}

.timeline li:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: grey;
    top: 25px;
    left: -50%;
    z-index: -999;
    transition: all ease-in-out 0.3s;
}

.timeline li:first-child:after {
    content: none;
}

.timeline li.active {
    color: #b3b3b3;
}

.timeline li.active:before {
    content: " ✓";
    background: #75a5ff;
    display: flex;
    font-weight: bolder;
    font-size: xx-large;
    align-content: flex-start;
    color: #fff;
}

.timeline li.active+li:after {
    content: "";
    height: 5px;
    //        background: #B275FF;
    background: linear-gradient(45deg, #b275ff, #75a5ff);
}

.deliveries-card {
    width: 100%;
}

.delivery-card-details-container {
    width: 100%;

    .container-buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        height: 40%;
        margin-bottom: 10px;

        button {
            border: none;
            width: 20%;
            height: 80%;
            border-radius: 20px;
            color: #fff;
            transition: 0.5s;
            background-color: $red;
            cursor: pointer;

            &:hover {
                background-color: transparent;
                color: $red;
                border: solid 2px $red;
            }
        }

        button:nth-child(1) {
            background-color: $primary-purple;

            &:hover {
                background-color: transparent;
                color: $primary-purple;
                border: solid 2px $primary-purple;
            }
        }



    }
}

.validation-desc {
    margin-bottom: 2vh;
}

.delivery-upperline-divisor,
.delivery-lowerline-divisor {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #dbdfe8;
}

.delivery-upperline-divisor {
    margin-bottom: 2vh;
}

.delivery-card-details {
    width: 100%;
    counter-reset: number 0;

    .requirement-box {
        display: flex;
        flex-direction: row;
        font-size: xx-large;
    }

    h2 {
        color: #75a5ff;
        font-size: xx-large;
    }
}

.delivery-info {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

//
.indicator {
    max-width: 8vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.indicator li {
    list-style: none;
    float: right;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    font-family: "Dosis", sans-serif;
}

.deliveries-indicator:nth-child(1) {
    color: #b275ff;
}

.indicator li:before {
    //content: "Aguardando entrega...";
    color: #75a5ff;
    display: flex;
    font-weight: normal;
    font-size: xx-small;
    flex-direction: row;
    align-content: center;
}

.indicator li {
    width: 42px;
    height: 42px;
    border: 3px solid #75a5ff;
    border-radius: 50%;
    display: block;
    text-align: center;
    line-height: 40px;
    background: #ffff;
    color: #fff;
    transition: all ease-in-out 0.3s;
}

.indicator li.active:after {
    content: " ✓";
    background: #75a5ff;
    position: relative;
    width: 39px;
    height: 39px;
    border-radius: 50%;
    display: flex;
    font-weight: bolder;
    font-size: x-large;
    margin: 0 auto 10px auto;
    align-content: flex-start;
    color: #fff;
}

.delivery-info {
    width: 100%;
}

.delivery-data {
    margin-left: 2vw;
    width: 100%;

    .accept {
        color: #64E176;
        display: flex;
        justify-content: center;
    }

    .refused {
        color: $red;
        display: flex;
        justify-content: center;
    }

    p {
        font-size: 24px;
        color: #b3b3b3;
    }
}

.delivery-date {
    display: flex;
    justify-content: flex-start;
    margin-left: 90%;
}

.deliveries {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    button {
        margin-top: 10px;
        margin-bottom: 10px;
        border: none;
        width: 80%;
        height: 20%;
        border-radius: 20px;
        color: #fff;
        transition: 0.5s;
        background-color: $primary-purple ;
        cursor: pointer;

        &:hover {
            background-color: transparent;
            color: $primary-purple ;
            border: solid 2px $primary-purple ;
        }
    }

    p {
        color: #b3b3b3;
        font-style: italic;
    }
}